#board {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 25px;
    width: 515px;
    height: 515px;
}

body {
    text-align: center;
}

.badge {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.game-over {
    display: flex;
    justify-content: center;
}


.reset {
    width: 240px;
    color: blue;
    font-size: 28px;
    margin: 8px;
}

.start {
    width: 240px;
    font-size: 28px;
    margin: 8px;
}


