#board {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 25px;
    width: 515px;
    height: 515px;
}

.badge {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.players-info {
    top: 25px;
    position: relative;
}

img.badge {
    width: 15px;
}