.cell {
    border: 1px solid lightblue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 2px;
    cursor: pointer;
}
.cell:hover{
    background-color: lightgray;
}

.symbol {
    line-hight: 15px;
}