.cell {
    border: 1px solid lightblue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: 2px;
    cursor: pointer;
}
.cell:hover{
    background-color: lightgray;
}

.disabled {
    color: gray;
    cursor: not-allowed;
}

.disabled:hover {
    opacity: 0.35;
}

.symbol {
    line-hight: 15px;
}

.players-info {
    top: 25px;
    position: relative;
    padding: 15px;
    border-radius: 25px;
    width: 515px;
    border: 1px solid lightgray;
}
